wheel==0.45.1
coverage==7.13.1
setuptools==80.9.0;python_version>="3.12"

# Pytest specific deps
pytest==8.4.2
pytest-cov==6.3.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement
