-e git+https://github.com/ibm/ibm-cos-sdk-python-core.git@master#egg=ibm_cos_sdk_core
-e git+https://github.com/boto/jmespath.git@develop#egg=jmespath
-e git+https://github.com/ibm/ibm-cos-sdk-python-s3transfer.git@master#egg=ibm_cos_sdk_s3transfer
