wheel==0.46.2
coverage==7.13.4
setuptools==80.9.0;python_version>="3.12"

# Pytest specific deps
pytest==9.0.0
pytest-cov==6.3.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement
